extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/js/throw.js')
  script(src='/js/type-error.js')
  script(src='/js/syntax-error.js')
  script(src='/js/reference-error.js')
  script(src='/js/range-error.js')
  script(src='/js/uri-error.js')
  script(src='/js/eval-error.js')
  script(src='/js/timeout-0.js')
  script(src='/js/timeout-long.js')
  script(src='/js/console.js')
  script(src='/js/no-such-file.js')
  script(src='/js/xml-http-request.js')