extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='/js/throw.js')
  script(src='/js/undefined.js')
  script(src='/js/timeout-0-throw.js')
  script(src='/js/timeout-long-undefined.js')
  script(src='/js/no-such-file.js')
  script(src='/js/console.js')
  script(src='/js/xml-http-request.js')