doctype html
html
  head
    title Wrong Site
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Wrong Site
    p Please open browser console to see JS errors.
    hr
    p This page shows: #{title}
    block content





