doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='/js/throw.js')
    script(src='/js/undefined.js')
    script(src='/js/timeout-throw.js')
    script(src='/js/timeout-5000.js')
    script(src='/js/no-such-file.js')



